<app-divider> Table Component</app-divider>
<app-table classNames="striped celled" [headers]="headers" [data]="data"></app-table>
<app-divider> Tabs Component</app-divider>
<app-tabs>
  <a class=" item"
  routerLink="./"
   routerLinkActive="active"
   [routerLinkActiveOptions]="{exact:true}"
   >
   biography
 </a>
 <a class="item" routerLink="./companies" routerLinkActive="active">
   Companies
 </a>
 <a class="item" routerLink="./partner" routerLinkActive="active">
   partner
 </a>
</app-tabs>

